<html lang="en">
<head>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="about">
        <div class="container">
            <div class="about-parent">
                  <div class="about-child1">
                      <img src="../images/photo-1519389950473-47ba0277781c.jpg" alt="">
                  </div>
                  <div class="about-child2">
                      <h2> learn more about us</h2>
                  <br><p> <em> A business letterhead is a pre-printed heading on documents like letters, memos, and notes. Including one will make any document look professional</em></p>
                     <br> <ul>
                          <li>A custom letterhead is an opportunity  </li>
                          <li>Don’t be afraid to use bold colors.</li>
                          <li> this business letterhead template</li>
                      </ul>
                      <br><p> <em> You can add color to the border, header, and even key parts of the body text.</em></p>
                  </div>
                </div>   
            </div>
        </div>
    </body>
    </html>    