<html lang="en">
<head>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    
        <div id="header">
            <div class="container"> 
                <div class="header-wraper">
                     <div class="navigation">
                         <a href="index.html">Home</a>
                         <a href="about.html">About</a>
                         <a href="service.html">services</a>
                         <a href="portfolio.html">portfolio</a>
                         <a href="pricing.html">pricing</a>
                         <a href="contact.html">Contact</a>
                     </div>
                
                     <div class="logo"><h1>ZIMBABWE </h1></div>
                </div>
            </div> 
          
        </div>
        <div id="banner">
            <div class="container">
                <div class="banner-parent">
                      <div class="banner-child1">
                          <h2>We design digital products that help grow businesses</h2>
                          
                          <br><P>We are team of talanted designers making websites with Bootstrap</P>
                           <br><br> <div > <a href="BUTTON"> GET STARTED</a></div>
                      </div>
                      <div class="banner-child2">
                         <img src="../images/hero-img.png" alt=""> 
                      </div>

                </div>

            </div> 

        </div>
        <div id="about">
            <div class="container">
                <div class="about-parent">
                      <div class="about-child1">
                          <img src="../images/photo-1519389950473-47ba0277781c.jpg" alt="">
                      </div>
                      <div class="about-child2">
                          <h2> learn more about us</h2>
                      <br><p> <em> A business letterhead is a pre-printed heading on documents like letters, memos, and notes. Including one will make any document look professional</em></p>
                         <br> <ul>
                              <li>A custom letterhead is an opportunity  </li>
                              <li>Don’t be afraid to use bold colors.</li>
                              <li> this business letterhead template</li>
                          </ul>
                          <br><p> <em> You can add color to the border, header, and even key parts of the body text.</em></p>
                      </div>
                    </div>   
                </div>
            </div>
        <div id="features">
            <div class="container">
                 <div class="parent-feature">
                     <div class="child-feature1">
                         <div class="section ">
                        
                             <h2 class="sec">real time feedback</h2>
                              <p><em>conveniently receive and respond to direct</em></p>
                            </div>
                         
                         <div class="section ">
                            <h2>reward your customer on us</h2>
                              <p> <em> every customer sends you a  feedback</em></p> 
                              
                        </div>
                        <div class="section ">
                            <h2>automatic feedback storage</h2>
                              <p><em>automatically collect and store any feedback</em></p> 
                        </div>
                        <div class="section ">
                            <h2>auto response</h2>
                              <p><em>ask your customer what you  want to know</em></p> 
                        </div>
                     </div>
                     <div class="child-feature2">
                        <img src="../images/features-1.png" alt="">
                     </div>
                </div>
                
            </div>
            
        </div> 
        <div id="service">
            <div class="container">
                 <div class="service-title">
                     <h2>SERVICE</h2>
                     <br> <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> 
                 </div>
                 <div class="service-concept">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          
                           <div class="service-concept-1"><img src="../images/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png" alt="">
                              <h5 class="card-title">Lorem Ipsum</h5>
                              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                    <div class="card-body">
                          <div class="service-concept-2"><img src="../images/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png" alt="" >
                    
                             <h5 class="card-title">Sed ut perspiciatis</h5>
                             <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
                           </div>
                       </div>
                     </div>
                     <div class="card" style="width: 18rem;">
                        <div class="card-body">
                     <div class="service-concept-3"><img src="../images/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png" alt="">
                    <h5 class="card-title">Magni Dolores</h5>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit animation scenerio</p>
                    </div>
                </div>
            </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                     <div class="service-concept-4"><img src="../images/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png" alt="">
                    <h5 class="card-title">Nemo Enim </h5>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
                    </div>
                </div>
            </div>
        </div>
           
      </div>

   </div>             
        <div id="portfolio">
                <div class="container">
                     <div class="portfolio-title">
                         <h2>Portfolio</h2>
                         <br> <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> 
                     </div>
                     <div class="Portfolio-concept">
                         <div class="portfolio-concept-1"><img src="../images/portfolio-1.jpg" alt=""></div>
                         <div class="portfolio-concept-2"><img src="../images/portfolio-4.jpg" alt=""></div>
                         <div class="portfolio-concept-3"><img src="../images/portfolio-5.jpg" alt=""></div>
                         <div class="portfolio-concept-4"><img src="../images/portfolio-7.jpg" alt=""></div>
                         <div class="portfolio-concept-5"><img src="../images/portfolio-2.jpg" alt=""></div>
                         <div class="portfolio-concept-6"><img src="../images/download (3).jpg" alt=""></div>
                         <div class="portfolio-concept-6"><img src="../images/download.jpg" alt=""></div>
                         <div class="portfolio-concept-6"><img src="../images/portfolio-details-3.jpg" alt=""></div>
                         <div class="portfolio-concept-6"><img src="../images/images (4).jpg" alt=""></div>
                    </div>
                </div>

        </div>
        <div id="call-to-action">
            <div class="container">
                <div class="call-parent">
                      <div class="call-child1">
                          <h2>Call To Action</h2>
                          
                          <br><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</P>
                           
                      </div>
                      <div class="call-child2">
                        <div > <a href="BUTTON">Call To Action </a></div>
                         
                      </div>

                </div>

            </div> 

        </div>
        <div id="team">
            <div class="container">
                <div class="team-title">
                    <h2>TEAM</h2>
                    <br> <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> 
                </div>
                <div class="team-concept">
                    <div class="team-concept-1"><img src="../images/team-1.jpg" alt=""></div>
                    <div class="team-concept-2"><img src="../images/team-2.jpg" alt=""></div>
                    <div class="team-concept-3"><img src="../images/team-3.jpg" alt=""></div>
                </div>
            </div>
        </div>
        
            <div id="question">
                <div class="container">
                    <div class="question-title">
                        <h2>Frequently Asked Questions</h2>
                        <div class="question1">
                          <div class="childq1">
                           <ul>
                            <li>Non consectetur a erat nam at lectus urna duis?</li>
                            <li>Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?</li>
                            <li>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?</li>
                            <li>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</li>
                            <li>Tempus quam pellentesque nec nam aliquam sem et tortor consequat?</li>
                           </ul>
                        </div>
                     <div class="childq2"></div>
                    </div>
                   </div>
                </div>
            </div>      
        <div id="contact">
            <div class="container">
                <h1>CONTACT US</h1>
                <div class="contact-parent">
                      <div class="contact-child1">
                       
                        <h2>my location</h2>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31547.7345798851!2d77.5070558691316!3d8.742070498087298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b043db6e2cea9c5%3A0x61dcb33d340d84ab!2sTamil%20Nadu%20627601!5e0!3m2!1sen!2sin!4v1588345437343!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                         
                      </div>
                      <div class="contact-child2">
                        <iframe src="forms.html" frameborder="0" width="500" height="500"></iframe>
                         
                      </div>

                </div>

            </div>
        </div>
        
       
   

    
</body>
</html>