<html lang="en">
<head>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="container"> 
            <div class="header-wraper">
                 <div class="navigation">
                     <a href="index.html">Home</a>
                     <a href="about.html">about</a>
                      <a href="service.html">services</a>
                      <a href="portfolio.html">portfolio</a>
                      <a href="pricing.html">pricing</a>
                      <a href="contact.html">Contact</a>
                 </div>
            
                 <div class="logo"><h1>ZIMBABWE </h1></div>
            </div>
        </div> 
      
    </div>
    <div id="service">
        <div class="container">
             <div class="service-title">
                 <h2>SERVICE</h2>
                 <br> <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> 
             </div>
             <div class="service-concept">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      
                       <div class="service-concept-1"><img src="../images/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png" alt="">
                          <h5 class="card-title">Lorem Ipsum</h5>
                          <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                      <div class="service-concept-2"><img src="../images/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png" alt="" >
                
                         <h5 class="card-title">Sed ut perspiciatis</h5>
                         <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
                       </div>
                   </div>
                 </div>
                 <div class="card" style="width: 18rem;">
                    <div class="card-body">
                 <div class="service-concept-3"><img src="../images/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png" alt="">
                <h5 class="card-title">Magni Dolores</h5>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit animation scenerio</p>
                </div>
            </div>
        </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                 <div class="service-concept-4"><img src="../images/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png" alt="">
                <h5 class="card-title">Nemo Enim </h5>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
                </div>
            </div>
        </div>
    </div>
       
  </div>

</div>             
</body>
</html>            